<!DOCTYPE html>
 <html>
 <head>
  <title> Formulaire en HTML </title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  <style>
    .days_birth{background: white};
  </style>
</head>
 <body>
     <h2> Credit Scoring Form </h2>
    <form>
     <fieldset>
        <legend> Informations personnelles de l'utilisateur </legend>
        <!--  <p> (DAYS_BIRTH) Âge du client en jours au moment de la demande </p> -->
        <label> Entrez votre date de naissance </label> <br>
        <input type = "text" id = "days_birth" name = "days_birth"> <br>

        <!--  <p> (AMT_ANNUITY) Montant des annuités du prêt (remboursements) </p> -->
        <label> Entrez le montant de vos revenus salariés mensuels </label> <br>
        <input type = "text" name = "amt_annuity"> <br>

        <!--  <p> (EXT_SOURCE_3) Score normalisé à partir d'une source de données externe </p> -->
        <label> Entrez le montant de vos revenus externes mensuels 3 </label> <br>
        <input type = "text" name = "ext_source_3"> <br>

        <!--  <p> (EXT_SOURCE_2) Score normalisé à partir d'une source de données externe </p> -->
        <label> Entrez le montant de vos revenus externes mensuels 2 </label> <br>
        <input type = "text" name = "ext_source_2"> <br>

        <!--  <p> (DAYS_ID_PUBLISH) Combien de jours avant la demande par le client
        du changement de la pièce d'identité avec laquelle il a demandé le prêt </p> -->
        <label> Entrez la date d'expiration de la pièce d'identité utilisée pour
        votre demande de prêt</label> <br>
        <input type = "text" name = "days_id_publish"> <br>

        <!--  <p> (AMT_CREDIT) Montant du crédit accordé pour le prêt </p> -->
        <label> Entrez le montant de votre crédit </label> <br>
        <input type = "text" name = "amt_credit"> <br>

        <!--  <p> (DAYS_LAST_PHONE_CHANGE) Combien de jours avant la demande par le client
        du changement de son téléphone </p> -->
        <label> Entrez la date de votre dernier changement de téléphone mobile </label> <br>
        <input type = "text" name = "days_last_phone_change"> <br>

        <!--  <p> (DAYS_EMPLOYED) Nombre de jours écoulés depuis la prise de poste du client
        dans son emploi actuel </p> -->
        <label> Entrez la date de début de votre contrat de travail </label> <br>
        <input type = "text" name = "days_employed"> <br>

        <!--  <p> (DAYS_REGISTRATION) Nombre de jours avant la demande par le client
        de la modification de son inscription </p> -->
        <label> Entrez la date de la première modification votre inscriptiopn </label> <br>
        <input type = "text" name = "days_registration"> <br>

        <!--  <p> (AMT_GOODS_PRICE) le prix des biens pour lesquels le prêt est accordé </p> -->
        <label> Entrez le montant de la valeur totale des biens pour lesquels le prêt est accordé </label> <br>
        <input type = "text" name = "amt_goods_price"> <br>
        <hr>
        <input type = "submit" id="predict" value = "Envoyer le formulaire">
     </fieldset>
  </form>
  <div id="predictionOutcome"></div>
  <script>
    $("form#predict").submit(function(event){
          event.preventDefault();
          var allElements=event.target.elements;
          console.log('bonjour');
          var json={
              "days_birth":allElements.days_birth.value,
              "amt_annuity":allElements.amt_annuity.value,
              "ext_source_3":allElements.ext_source_3.value,
              "ext_source_2":allElements.ext_source_2.value,
              "days_id_publish":allElements.days_id_publish.value,
              "amt_credit":allElements.amt_credit.value,
              "days_last_phone_change":allElements.days_last_phone_change.value,
              "days_employed":allElements.days_employed.value,
              "days_registration":allElements.days_registration.value,
              "amt_goods_price":allElements.amt_goods_price.value,

          };
          var jsonStr=JSON.stringify(json);
          console.log(jsonStr);
          $.ajax({
              url: "/api/predict",
              data: JSON.parse(jsonStr),
              method: "GET",
              success: function(result) {
                  let predictedResult=result;
                  let htmlStr="";
                  htmlStr+=predictedResult
                  console.log(htmlStr)
                  $("#predictionOutcome").html(htmlStr);
              },
              error: function(err) {
                  console.log(err);
                  }
          });
          return false;
      });

    $( function() {
      $( "#days_birth" ).datepicker({
        changeMonth: true,
            changeYear: true,
            showAnim: 'slideDown',
            dateFormat: 'yy-mm-dd'
        }).on('change', function () {
            var age = getAge(this);
           /* $('#age').val(age);*/
            console.log(age);
            alert(age);

        });
        function getAge(dateVal) {
            var
                birthday = new Date(dateVal.value),
                today = new Date(),
                ageInMilliseconds = new Date(today - birthday),
                days = ageInMilliseconds / (24 * 60 * 60 * 1000);
            return days;

        }

      });
  </script>

</body>
</html>
